<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
    <style>
        img {
            width: 150px;
            height: 150px;
        }
    </style>
</head>

<body>

    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>This Website Uses MapBox and WeatherStack Apis to get Weather Data</p>
        <p>Enjoy the App!</p>
        <img src="./img/me.JPG" alt="">

    </div>
    {{!-- <p>Created by - {{name}}</p> --}}
    <footer>{{>footer}}</footer>

</body>

</html>